<div class="content">
  <mat-content>
    <h1>Do it for the 'gram!</h1>
    <p>If there's one thing a Teetum loves, it's some hot pics, and Jesus ass, do we have hot pics. Whatever you do, be sure to tag <a href="https://www.instagram.com/tatumerinmurray/" target="_blank">@tatumerinmurray</a>!</p>
    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let item of images" [colspan]="1" [rowspan]="1">
        <mat-card>
          <img mat-card-image src="{{item}}" alt="It's a Teetum">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-content>
</div>