<div class="content">
  <h1>What were we thinking???</h1>
  <p>
    Obviously this was not written by Teetum (Tatum), it was written, designed, coded, etc by me, <a href="https://www.instagram.com/jaredstock/" target="_blank">Jared Stock</a>. It's a parody of Tatum's real blog <a href="https://www.thepace.co"
      target="_blank">thepace.co</a>, which you should read in its entirety -- don't forget to like and subscribe!!
  </p>
  <p>
    Short story long, I bought <a href="http://www.teetum.com">www.teetum.com</a>
    on a whim and decided to do something fun with it. Plus, what better present is there
    than a shrine to you on the internet?
  </p>
  <p>
    This site was made by Jared Stock (<a href="https://www.instagram.com/jaredstock/" target="_blank">@jaredstock</a>)
    with lots of love. Thanks to the contributions of Allie Danneker (<a href="https://www.instagram.com/alliedanneker/" target="_blank">@alliedanneker</a>), Bobby Rippe (<a href="https://www.instagram.com/robbobrippe/"
      target="_blank">@robbobrippe</a>), Annie Russo (<a href="https://www.instagram.com/annierusso22/" target="_blank">@annierusso22</a>), and Nick Fonzo
    (<a href="https://www.instagram.com/nickf227/" target="_blank">@nickf227</a>)
  </p>
  <p>
    Of course, thank you to the gal of the hour, the Queen Teetum, <a href="https://www.instagram.com/tatumerinmurray/">Tatum Erin Murray</a>. Happy birthday!
  </p>
  <br>
  <h3>Nerd Talk</h3>
  <p>
    Alright, buckle your dicks up, hoes! This site was built on Angular 8 using the shiny new Ivy engine as a Progressive Web App (or at least mostly). Styling from <a href="https://material.angular.io/" target="_blank">Angular Material</a>,
    image and video viewer from___. Fonts are "Montserrat Alternates," which you're reading here, and "Satisfy," that nice script font, from Google Fonts. The favicon you see is custom made by me. This is hosted on AWS and was a chance for me to set
    up CI/CD, SSL, and DNS. This is a bit of an art project, and the code can be found on <a href="https://github.com/jstock29/teetum-dot-com" target="_blank">Github</a>.
  </p>
</div>