<div class="content">
  <h1>What were we thinking???</h1>
  <mat-divider></mat-divider>
  <p>
    In case it wasn't clear, this site was not written by Teetum (Tatum). It was written, designed, coded, etc by <a href="https://www.instagram.com/jaredstock/" target="_blank">Jared Stock</a>. It's a parody of Tatum's real blog <a
      href="https://www.thepace.co" target="_blank">thepace.co</a>, which you should read in its entirety and share with every person you know -- don't forget to like and subscribe!!
  </p>
  <p>
    I bought <a href="http://www.teetum.com">www.teetum.com</a> because it was funny and decided to make a shrine to my friend on the internet.
  </p>
  <p>What do you mean, "that's super weird?" Shut up, this is hilarious.
  </p>
  <br />
  <mat-divider></mat-divider>
  <br />
  <p>
    This was made by me (<a href="https://www.instagram.com/jaredstock/" target="_blank">@jaredstock</a>)
    with lots of love. Thanks to the contributions of Allie Danneker (<a href="https://www.instagram.com/alliedanneker/" target="_blank">@alliedanneker</a>), Bobby Rippe (<a href="https://www.instagram.com/robbobrippe/"
      target="_blank">@robbobrippe</a>), Annie Russo (<a href="https://www.instagram.com/annierusso22/" target="_blank">@annierusso22</a>), and Nick Fonzo
    (<a href="https://www.instagram.com/nickf227/" target="_blank">@nickf227</a>)
  </p>
  <p>
    Of course, thank you to the spoopiest, glammiest gal of the hour, Queen Teetum, <a href="https://www.instagram.com/tatumerinmurray/">Tatum Erin Murray</a>. Happy birthday! Love you!
  </p>
  <div class="logo" (click)="whatsThis()">
    <img src="./assets/icons/apple-icon-60x60.png" class="logo-image" [ngClass]="{'secrets': i>51}">
  </div>
</div>