<div class="content">
  <div>
    <h1 class="reduced-margin">Teetum.com</h1>
    <h4 class="reduced-margin">
      Every other blog is ass
    </h4>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" class="blog-header">
    <div class="date-tag">
      <h5>12 October 2019</h5>
    </div>
    <h3>Keeping Up: Spooky Glam</h3>
  </div>
  <p>
    It's me! Teetum! Yes, it's my birthday and has been for weeks. If you've been
    following my Insta stories AT ALL you should know that the theme this year's party
    is <em>"Spooky Glam,"</em> although some people have taken to calling it
    <em>"Glam Neglect."</em> Obviously they're wrong and will be thrown out of my
    party Survivor-style if I can find them through all of these bedazzled cobwebs.
    Anyway, this post is about two of my favorite things: fall and parties, so hold
    on to your Pumpkin Cream Cold Brews!
  </p>
  <p>New York is always so spoopy in the fall. Trees start dying, and there's
    something about all the little Teetums celebrating death that makes me really
    want to light all 50 of my Trader Joe's candles at once. Every year, I
    maintain my own perpetual youth by offering a selection of beauty samplers to
    the ghost of Marilyn Monroe. If you want to stay young forever, I really
    recommend offering multiple shades of eye shadow in your own DIY seance.
  </p>
  <p>
    Death is great, but the best part of fall is Teetum! To prepare for tonight, I went through my daily morning routine of running 12 miles to
    a boxing/spin class with bottomless mimosas, so as you can imagine, I've been pretty desperate for a Four Loko!
    It's not a Teetum party without perfectly on-theme food and drinks, so in addition
    to Four Loko, I've set out all of my favorite spoopy snacks, which include and are limited to:</p>
  <ul>
    <li>Celery</li>
    <li>Pita Chips</li>
    <li>Hummus</li>
    <li>~Blood~ Red Wine</li>
    <li>Veggie Sausages</li>
    <li>White Claw #ad</li>
    <li>A Whole Pumpkin</li>
    <li>Beef Chili</li>
    <li>Vodka Water</li>
    <li>Water</li>
    <li>Just Salt</li>
    <li>Raw Kale</li>
    <li>Some Gourds</li>
  </ul>
  <p>Thanks to my amazing Teetum (Annie) for the incredible cake which she <em>actually made</em>
    and only cut <em>after I gave her permission</em>. It was so delicious and I'm not at all throwing up!</p>
  <p>This night will be the best time any of us have ever had! Let me know all about your spoopy night on TikTok!</p>
  <p>xoxo,</p>
  <br />
  <p>Teetum!</p>
</div>