<div class="content">
  <div>
    <h1>Teetum.com</h1>
    <h5>
      Every other blog is ass
    </h5>
  </div>
  <mat-divider></mat-divider>
  <h3>October 12th, 2019 | Keeping Up: Spooky Glam</h3>
  <p>
    Happy birthday to me, Teetum! Yes, it's my birthday and has been for weeks. If you've been reading my blog AT ALL you should know that the theme this year is <em>"Spooky Glam,"</em> although some people have taken to calling it
    <em>"Glam Neglect."</em> Obviously they're wrong and will be thrown out of my party Survivor-style if I can find them through all of these cobwebs.
  </p>
  <p>I hope everyone is enjoying all of my favorite spoopy snacks, which include and are limited to:</p>
  <ul>
    <li>Celery</li>
    <li>Hummus</li>
    <li>Pita Chips</li>
    <li>Veggie Sausages</li>
    <li>White Claw #ad</li>
    <li>Sweetgreen #spon</li>
    <li>Beef Chili</li>
    <li>Vodka Water</li>
    <li>Water</li>
    <li>Just Salt</li>
    <li>Kale</li>
  </ul>
  <p>Thanks to Annie for the incredible cake which she <em>actually made</em> and only cut <em>after I gave her permission</em>. It was so delicious I'm not at all throwing up!</p>
  <p>It was the best time any of us ever had.</p>
</div>