<div class="content">
  <div>
    <h1 class="reduced-margin">Teetum.com</h1>
    <h4 class="reduced-margin">
      Every other blog is ass
    </h4>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" class="blog-header">
    <div class="date-tag">
      <h5>12 October 2019</h5>
    </div>
    <h3>Keeping Up: Spooky Glam</h3>

  </div>
  <p>
    It's me! Teetum! Yes, it's my birthday and has been for weeks. If you've been following my Insta stories AT ALL you should know that the theme this year's party is <em>"Spooky Glam,"</em> although some people have taken to calling it
    <em>"Glam Neglect."</em> Obviously they're wrong and will be thrown out of my party Survivor-style if I can find them through all of these glitter cobwebs.
  </p>
  <p>New York is always so spooky in the Fall, and there's something about all the
    little teetums thinking about death that makes me really excited to light all 50 of my Trader Joe's candles at once and listen to some Britney. To prepare for tonight, I went through my usual morning routine of running 12 miles to
    a spin class with bottomless mimosas, so as you can imagine, I'm just about ready for a 4Loko right now!
  </p>
  <p>I hope everyone is enjoying all of my favorite spoopy snacks, which include and are limited to:</p>
  <ul>
    <li>Celery</li>
    <li>Hummus</li>
    <li>Pita Chips</li>
    <li>Veggie Sausages</li>
    <li>White Claw #ad</li>
    <li>Sweetgreen #spon</li>
    <li>Beef Chili</li>
    <li>Vodka Water</li>
    <li>Water</li>
    <li>Just Salt</li>
    <li>Kale</li>
  </ul>
  <p>Thanks to Annie for the incredible cake which she <em>actually made</em> and only cut <em>after I gave her permission</em>. It was so delicious I'm not at all throwing up!</p>
  <p>It was the best time any of us ever had. Let me know how your spoopy night was on TikTok!</p>
  <p>xoxo,</p>
  <br />
  <p>Teetum!</p>
</div>