/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.scss';

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat-Alternatives",Roboto, "Helvetica Neue", sans-serif;
}

a,
li,
mat-list-item,
p {
  font-family: 'Montserrat Alternates', 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satisfy', serif !important;
}

.content {
  padding: 16px;
}